@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BENVENUTO, QUI PUOI COMPRARE SOLO DUE TIPI DI SCARPE</h1>
    <p>LE SCARPE DELLA LIDL E DI DRAGON BALL <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">CLICCA SU PRODOTTI PER VISUALIZZARLI(Nella navbar)</a>.</p>
</div>
