@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Non ti azzardare a rubarmi il sito ah, e sopratutto la tua privacy è a rischio qui dentro, ho già preso il tuo indirizzo di casa :)</p>
